body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

header {
    background-color: gray;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    color: white;
}

main {
    padding: 20px;
}

.success { 
    color: green; 
}

.error { 
    color: red; 
}

.warning { 
    color: orange; 
}