{% extends "base.html" %}
{% block title %}Adicionar Tarefa{% endblock %}

{% block content %}
<h2 class="h2-add_task">Adicionar Nova Tarefa</h2>
<form method="POST" class="form-add_task">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Descrição:</label>
    <textarea id="description" name="description" class="task-description"></textarea>

    <label for="data-inicial">Data de Início:</label>
    <input type="datetime-local" name="data-inicial" required>

    <label for="data-limite">Data Limite:</label>
    <input type="datetime-local" name="data-limite" required>

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria" required>
        <option value="" disabled selected>Escolha uma categoria</option>
        <option value="Trabalho">Trabalho</option>
        <option value="Pessoal">Pessoal</option>
        <option value="Estudo">Estudo</option>
    </select>

    <label for="Prioridade">Prioridade:</label>
    <select id="prioridade" name="prioridade" id="prioridade" required>
        <option value="" disabled selected>Escolha um nível</option>
        <option value="baixa">Baixa</option>
        <option value="média">Média</option>
        <option value="alta">Alta</option>
    </select>

    <button type="submit">Adicionar Tarefa</button>
</form>
{% endblock %}
