<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gerenciador de Tarefas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='/js/script.js')}}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/task.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/task.png')}}" alt="task" id="task-img">
        <nav>
            <a href="{{ url_for('home') }}" class="header-btn">Home</a>
            {% if 'logged_in' in session %}
                <a href="{{ url_for('dashboard') }}" class="header-btn">Dashboard</a>
                <a href="{{ url_for('logout') }}" class="header-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="header-btn">Login</a>
                <a href="{{ url_for('register') }}" class="header-btn">Registrar-se</a>
            {% endif %}
        </nav>
    </header>
    <main>
            <!-- Seção para mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}" id="flash">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
