{% extends "base.html" %}
{% block title %}Painel de Controle{% endblock %}

{% block content %}
<h2 class="add_task-h2">Minhas Tarefas</h2>

<table class="table-tasks">
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Categoria</th> <!-- Nova coluna para Categoria -->
        <th>Ação</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task[1] }}</td> <!-- Título -->
        <td>{{ task[2] }}</td> <!-- Descrição -->
        <td>{{ task[3] }}</td> <!-- Categoria -->
        <td>
            <form action="{{ url_for('delete_task', task_id=task[0]) }}" method="POST">
                <button type="submit">Excluir</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('add_task') }}" id="add_task-btn">Adicionar nova tarefa</a>
{% endblock %}
